@import url(./fonts.css);

.btn-primary{
    margin: 0px 15px;
    height: 37px;
    
}
.bgColor{
    background: white;
    font-family: fontPrincipal !important;
}
.navbar{
    padding-left: 10px;
    background-color: rgb(24 103 59) !important;
    border-bottom: 1px solid black;
}
.nav-link{
    color: white !important;
}

form p {
    margin-bottom: 0px;
}
#formCreateAluno{
    margin: 10px;
    color: black;

}
#formCreateAluno input{
    border: 1px solid rgba(0, 0, 0, 0.314);
}

#aluno{
    width: 20%; 
}

.form-check-input{
    border:1px solid black !important;
}
/* Criar Treino*/
#formCreateTreino{
	margin: 10px;
}
#formCreateTreino div {
    padding-bottom: 10px;
}
#criarTreino{
    display:flex;
}


/*Buscar Treino*/
#buscar{
    border-color: #00000085;
    border-radius: 56px;
    text-align: center;
    font-size: 24px;
    width: 16%;
    
}
#buscar::placeholder{
    text-align: center;
    
   
    font-size: 18px;
    align-self: center;
}
#formBuscarTreino{
    width: 100%;
    display: flex;
    justify-content: center;
}
#bodyTreino{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    background-image: url('../assets/img/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

#btnTreino{
    margin: 5px;
}

#btnTreino a{
    color: white;
    text-decoration: none;
}